.filters {
    color: black;
    height: 70px;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    position: relative;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: relative;
    float: right;
    margin-right: 30px;
    margin-top: 10px;
}
button:hover{
    opacity: 90%;
}
.locations,
.amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    padding-left: 40px;
}
.locations{
    border-right: 1px #DDDDDD solid;
}

.locations > h3 , .amenities > h3{
    font-weight: 600;
}
.locations > h4, .amenities > h4 {
    font-weight: 400;
    font-size: 14px;
}
.locations > h3 , .amenities > h3,
.locations > h4, .amenities > h4 {
    margin: 0;
    margin-top: 20px;
}
.locations > h4, .amenities > h4 {
    margin: 0;
}
.popover {
    margin-top: 20px;
    width: 25%;
    color: #FAFAFA;
    left: 0;
    border: 1px solid #DDDDDD;
    background-color: #e6e6e6;
    border-radius: 4px;
    position: absolute;
    display: none;
    
}
li {
    padding:10px;
}
.locations:hover .popover , .amenities:hover .popover {
    display: block;
}